<h1>Editing Blog</h1>
<div class="">
  <span> <%=link_to('Read',@blog, class:"btn btn-info btn-xs glyphicon glyphicon-edit")%></span>
  <span> <%=link_to('Back',blogs_path, class:"btn btn-secondary btn-xs glyphicon glyphicon-edit")%></span>
</div>
<%= render 'form', blog: @blog %>